// Enter the following commands in cmd inside of the portfolio folder
//sass --watch css:css
//variables
$light-gray: #ccc;
$gray: #777;
$red: #ee6e73;
$yellow: #ffd789;
$main-font: "Open Sans", Helvetica, sans-serif;
$small-font: 12px;
$medium-font: 17px;
$large-font: 25px;
$normal-weight: 300;
$thick-weight: 400;

body {
    width: calc(100vw - 34px);
    font-family: $main-font;
    color: black;
    font-weight: $normal-weight;
    font-size: $small-font;
    letter-spacing: 5px;
    text-align: center;
    min-width: 570px;
    margin-top: 50px;
}

h1 {
    font-family: $main-font;
    font-size: $large-font;
    letter-spacing: 8px;
    font-weight: $normal-weight;
    color: black;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-family: $main-font;
    font-size: $medium-font;
    letter-spacing: 5px;
    font-weight: $normal-weight;
    color: black;
    text-transform: uppercase;
    margin: 0;
}

a {
    color: black;
    display: inline-block;
    text-decoration: none;
}

a:hover {
    color: $red;
}

p {
    letter-spacing: 2px;
    font-size: $small-font;
    margin-top: 0;
}

.main-div {
    width: 40%;
    margin: auto;
    min-width: 300px;
    flex-direction: column;
    align-items: center;
    display: none;
}

.active-div {
    display: flex;
}
@media only screen and (max-width: 800px) {
    .main-div {
        width: 80%;
    }
}
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ NAV @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

#logo-top {
    img {
        width: 60px;
    }
}

#nav {
    .nav {
        list-style: none;
        margin: 0;
        padding: 30px 0;
        text-align: center;

        .active-nav {
            a {
                color: $red;
            }
        }

        a {
            color: $gray;
            margin: 0 2%;
        }

        a:hover {
            cursor: pointer;
            color: $red;
        }

        ul {
            padding: 0;
        }

        li {
            display: inline;
        }
    }
}
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ PROJECTS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

#projects {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    .column {
        margin: 0 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .img-container {
            position: relative;
            margin-bottom: 30px;
        }

        .img-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            color: black;
            text-transform: uppercase;
            font-size: $medium-font;
            font-weight: $normal-weight;
        }

        .img-container:hover .img-overlay {
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, .9);
        }

        img {
            width: 200px;
            margin-bottom: 0;
            border-radius: 10px;
            vertical-align: bottom;
        }

        a {
            display: flex;
            padding: 0;
        }
    }
}
@media only screen and (max-width: 1000px) {
    #projects {
        flex-direction: column;
        align-items: center;
    }
}
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ WORK @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

#work {

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        // min-width: 300px;
        // max-width: 400px;
        // min-width: 650px;
        margin-bottom: 50px;
        align-items: center;
        justify-content: center;
        width: 600px;

        img {
            width: 100%;
            margin-bottom: 10px;
            border-radius: 15px;
        }
    }

    @media only screen and (max-width: 800px) {
        .banner {
            flex-direction: column;
            align-items: center;
            // min-width: 300px;
            // max-width: 400px;
            width: 100%;

            img {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    // @media only screen and (max-width: 1200px ) {
    //     .banner {
    //         flex-direction: column;
    //         align-items: center;
    //         min-width: 300px;
    //         max-width: 400px;
    //
    //         img {
    //             width: 100%;
    //             margin-bottom: 10px;
    //         }
    //     }
    // }
    h1 {
        padding-bottom: 50px;
    }
}
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ SCHOOL @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

#school {
    .banner {
        display: flex;
        flex-direction: row;
        // min-width: 650px;
        margin-bottom: 50px;
        align-items: center;
        justify-content: center;

        img {
            width: 295px;
            border-radius: 15px;
            margin: 0 5px;
        }
    }
    @media only screen and (max-width: 800px) {
        .banner {
            flex-direction: column;
            align-items: center;
            // min-width: 300px;
            // max-width: 400px;
            width: 100%;

            img {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }

    h1 {
        padding-bottom: 50px;
    }

    #school-awards {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

        p {
            margin: 5px 0;
            text-transform: uppercase;
        }

        .column {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 160px;

            img {
                width: 80px;
                margin: 0 0 20px;
            }
        }
    }
    @media only screen and (max-width: 800px) {
        #school-awards {
            flex-direction: column;
            align-items: center;
        }

        .award-date-text {
            padding-bottom: 20px;
        }
    }

    #gpa-div {
        width: 500px;
        margin-top: 50px;
        text-align: center;
    }

    #school-gpa {
        background-color: $light-gray;
        margin-bottom: 10px;
    }

    #school-gpa-inner {
        width: 0;
        height: 30px;
        background-color: $yellow;
    }
    @media only screen and (max-width: 800px) {
        #gpa-div {
            width: 100%;
        }
    }
}
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ ABOUT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

#about {
    .banner {
        img {
            width: 600px;
            margin-bottom: 50px;
            border-radius: 15px;
        }

        p {
            width: 600px;
        }
    }
    @media only screen and (max-width: 800px) {
        .banner {
          width: 100%;
            img {
                width: 100%;
            }
        }
    }

    h1 {
        padding-bottom: 40px;
    }

    a {
        color: $red;
        padding: 0;
        cursor: pointer;
    }
}
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ CONTACT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

#contact {
    .banner {
        display: flex;
        flex-direction: row;
        // min-width: 650px;
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;

        img {
            width: 600px;
            border-radius: 15px;
            margin: 0;
            padding: 0;
        }
        @media only screen and (max-width: 800px) {
            img {
                width: 100%;
            }
        }
    }
    @media only screen and (max-width: 800px) {
        .banner {
            width: 100%;
        }
    }

    #contact-header {
        margin-bottom: 70px;
    }

    img {
        width: 20px;
        vertical-align: -2px;
        padding-right: 10px;
    }

    p {
        letter-spacing: 10px;
    }

    form {
        margin-top: 50px;
        width: 600px;
    }
    @media only screen and (max-width: 800px) {
        form {
            width: 100%;
        }
    }

    .inputs {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        height: 3rem;
        width: 100%;
        font-size: 1rem;
        margin: 0 0 40px;
        padding: 0;
        box-shadow: none;
        box-sizing: content-box;
        transition: all 0.3s;
        font-family: $main-font;
        font-weight: $thick-weight;
        font-size: $medium-font;
        color: black;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    label {
        float: left;
        font-size: $small-font;
        text-transform: uppercase;
        transform: translateY(-110px);
    }

    #contact-send-button {
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        font-family: $main-font;
        font-weight: $normal-weight;
        font-size: $small-font;
        color: $red;
        letter-spacing: 5px;
        text-transform: uppercase;
        cursor: pointer;
        padding: 5px;

        &:hover {
            color: $red;
        }
    }

    #contact-send-button-container {
        width: 100%;
        display: flex;
        align-items: middle;
        justify-content: center;
    }
    /* label color */
    .input-field label {
        color: black;
    }
    /* label focus color */
    .input-field input[type=text]:focus + label {
        color: $red;
    }
    /* label underline focus color */
    .input-field input[type=text]:focus {
        border-bottom: 1px solid $red;
    }
    /* valid color */
    .input-field input[type=text].valid {
        border-bottom: 1px solid $red;
    }
    /* invalid color */
    .input-field input[type=text].invalid {
        border-bottom: 1px solid $red;
    }
    /* icon prefix focus color */
    .input-field .prefix.active {
        color: $red;
    }
}

#copyright-text {
    font-size: $small-font;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 100px;
}
