body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: black;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 5px;
  margin: 75px 0 0;
  text-align: center;
  min-width: 450px; }

h1 {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 8px;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
  margin: 0; }

h2 {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: 5px;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
  margin: 0; }

a {
  color: black;
  display: inline-block;
  text-decoration: none; }

a:hover {
  color: #ee6e73; }

p {
  letter-spacing: 2px;
  font-size: 17px; }

.main-div {
  width: 40%;
  margin: auto;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center; }

@media only screen and (max-width: 1000px) {
  .main-div {
    width: 80%; } }
#logo-top img {
  width: 60px; }

#nav .nav {
  list-style: none;
  margin: 0;
  padding: 50px 0;
  text-align: center; }
  #nav .nav .active {
    color: black;
    font-weight: 400; }
  #nav .nav a {
    color: #777;
    margin: 0 2%; }
  #nav .nav a:hover {
    color: #ee6e73; }
  #nav .nav ul {
    padding: 0; }
  #nav .nav li {
    display: inline; }

#projects {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center; }
  #projects .column {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #projects .column .img-container {
      position: relative;
      margin-bottom: 30px; }
    #projects .column .img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      color: black;
      text-transform: uppercase;
      font-size: 17px;
      font-weight: 300; }
    #projects .column .img-container:hover .img-overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.9); }
    #projects .column img {
      width: 200px;
      margin-bottom: 0;
      border-radius: 10px;
      vertical-align: bottom; }
    #projects .column a {
      display: flex;
      padding: 0; }

@media only screen and (max-width: 1000px) {
  #projects {
    flex-direction: column;
    align-items: center; } }
#school {
  width: 60%; }
  #school .banner {
    display: flex;
    flex-direction: row;
    min-width: 650px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center; }
    #school .banner img {
      width: 400px;
      border-radius: 15px;
      margin: 0 10px; }
  @media only screen and (max-width: 1000px) {
    #school .banner {
      flex-direction: column;
      align-items: center;
      min-width: 300px;
      max-width: 400px; }
      #school .banner img {
        width: 100%;
        margin-bottom: 10px; } }
  #school h1 {
    padding-bottom: 50px; }
  #school #school-awards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center; }
    #school #school-awards p {
      margin: 5px 0; }
    #school #school-awards .column {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 200px; }
      #school #school-awards .column img {
        width: 75px;
        margin: 0 0 20px; }
  @media only screen and (max-width: 1000px) {
    #school #school-awards {
      flex-direction: column;
      align-items: center; }
    #school .award-date-text {
      padding-bottom: 20px; } }

#about .banner img {
  width: 100%;
  margin-bottom: 50px;
  border-radius: 15px; }
#about h1 {
  padding-bottom: 40px; }
#about a {
  color: #ee6e73;
  padding: 0; }

#contact {
  /* label color */
  /* label focus color */
  /* label underline focus color */
  /* valid color */
  /* invalid color */
  /* icon prefix focus color */ }
  #contact #contact-header {
    margin-bottom: 70px; }
  #contact img {
    width: 20px;
    vertical-align: -2px;
    padding-right: 10px; }
  #contact p {
    letter-spacing: 10px; }
  #contact form {
    width: 600px; }
  @media only screen and (max-width: 1000px) {
    #contact form {
      width: 100%; } }
  #contact .inputs {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 40px;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: black;
    letter-spacing: 5px;
    text-transform: uppercase; }
  #contact label {
    float: left;
    font-size: 12px;
    text-transform: uppercase;
    transform: translateY(-110px); }
  #contact #contact-send-button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #ee6e73;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px; }
    #contact #contact-send-button:hover {
      color: #ee6e73; }
  #contact #contact-send-button-container {
    width: 100%;
    display: flex;
    align-items: middle;
    justify-content: center; }
  #contact .input-field label {
    color: black; }
  #contact .input-field input[type=text]:focus + label {
    color: #ee6e73; }
  #contact .input-field input[type=text]:focus {
    border-bottom: 1px solid #ee6e73; }
  #contact .input-field input[type=text].valid {
    border-bottom: 1px solid #ee6e73; }
  #contact .input-field input[type=text].invalid {
    border-bottom: 1px solid #ee6e73; }
  #contact .input-field .prefix.active {
    color: #ee6e73; }

#copyright-text {
  font-size: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 100px; }

/*# sourceMappingURL=style.css.map */
